* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light: #fff;
    --gray: #555;
    --light-gray: rgb(231, 226, 226);
    --dark: #000000c4;
    --blue: rgba(70, 70, 207, 0.863);
}

.content-wrap {
    margin: 0 auto;
    width: 70%;
    text-align: center;
   
}

h2 {
    font-size: 1.8rem;
}

.wrapper {
    display: grid;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    color: var(--light);
    position: relative;
   
}

.bg-img {
    width: 100%;
    background-image: url('images/code-pic.jpg');
    height: 450px;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

header p {
    font-size: 1.1rem;
}

header .btn {
    color: var(--light);
    background-color: #0000004b;
    text-decoration: none;
    border: 0.5px solid #ffffff56;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.7em 2em;
    cursor: pointer;
}

header .btn:hover {
    background-color: var(--gray);
    color: var(--light);
}

/* Web_App Section */
.webapp {
    background-color: var(--light-gray);
    padding: 2rem 0;
}
.webapp p {
    margin-top: 2em;
    font-size: 1.1rem;
}

.handle {
    background-color: var(--light);
}

/* Services */
.services {
    background-color: var(--dark);
    padding: 2rem 0;
    min-height: 450px;
    opacity: 3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.web {
    display: flex;
    flex-direction: column;
}

.web img {
    width: 100%;
}

.web-text {
    background-color: var(--light);
    min-height: 250px;
    padding: 3rem 1rem;
}

.web-text p {
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* Contact and About */
.contact_about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--light);
    font-size: 20px;
    text-align: center;
}

.contact {
    background-color: var(--blue);
 
}

.about {
    background-color: var(--dark);
    
}

.contact, 
.about {
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

footer {
    background-color: #000;
    color: var(--light);
}

.footer-container {
   
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 1.3rem;
}

.footer-container span {
    color: var(--blue);
    font-weight: 700;
}

@media (max-width: 700px) {
    .content-wrap {
        width: 95%;
    }
    header h1 {
        font-size: 2.3rem;
    }
    .webapp p {
        margin-top: 1.2em;
        font-size: 1.1rem;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .contact_about {
        grid-template-columns: 1fr;
    }
    .contact_about p {
        font-size: 1.1rem;
    }
    .footer-container {
        flex-direction: column;
    }
    header .btn {
        font-size: 1rem;
        padding: 0.4em 1.3em;
     
    }
}